package {{basePackage}}.eda.subscribers;


import org.springframework.cloud.stream.annotation.EnableBinding;
import org.springframework.cloud.stream.annotation.StreamListener;

import lombok.extern.slf4j.Slf4j;

@Slf4j
@EnableBinding(ExampleInputBinding.class)
public class ExampleSubscriber {


	@StreamListener(target = "example")
	public void processUser(String example) {
		log.info("Event received: {}", example);
		
	}

}
