package {{basePackage}}.services.impl;



import org.springframework.http.HttpStatus;
import org.springframework.stereotype.Service;
import org.springframework.web.client.HttpServerErrorException;

import {{basePackage}}.services.ExampleService;

import lombok.extern.slf4j.Slf4j;


{{>generatedAnnotation}}
@Service
@Slf4j
public class ExampleServiceImpl implements ExampleService {

   
    @Override
    public Object ExampleMethod() {
    	throw new HttpServerErrorException(HttpStatus.NOT_IMPLEMENTED);

    }

}
