<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <groupId>{{groupId}}</groupId>
    <artifactId>{{artifactId}}</artifactId>
    <packaging>jar</packaging>
    <name>{{artifactId}}</name>
    <version>{{artifactVersion}}</version>

{{#parentOverridden}}
    <parent>
        <groupId>{{{parentGroupId}}}</groupId>
        <artifactId>{{{parentArtifactId}}}</artifactId>
        <version>{{{parentVersion}}}</version>
    </parent>
{{/parentOverridden}}

    <repositories>
        <repository>
            <id>onesait-platform</id>
            <url>https://nexus.onesaitplatform.com/nexus/content/repositories/releases/</url>
        </repository>
    </repositories>

    <properties>
        <java.version>{{#java11}}11{{/java11}}{{#java16}}16{{/java16}}{{^java11}}{{^java16}}1.8{{/java16}}{{/java11}}</java.version>
        <maven.compiler.source>${java.version}</maven.compiler.source>
        <maven.compiler.target>${java.version}</maven.compiler.target>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <project.reporting.outputEncoding>UTF-8</project.reporting.outputEncoding>
		<org.mapstruct.version>1.4.2.Final</org.mapstruct.version>
		<lombok.version>1.18.20</lombok.version>
		<spring-boot.version>2.6.7</spring-boot.version>
    </properties>

	<dependencyManagement>
        <dependencies>
            <dependency>
                <groupId>com.minsait.onesait.architecture</groupId>
                <artifactId>architecture-dependencies</artifactId>
                <version>0.0.1</version>
                <type>pom</type>
                <scope>import</scope>
            </dependency>
        </dependencies>
    </dependencyManagement>

    <dependencies>

        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-web{{#reactive}}flux{{/reactive}}</artifactId>
        </dependency>

        <!-- https://mvnrepository.com/artifact/org.projectlombok/lombok -->
        <dependency>
            <groupId>org.projectlombok</groupId>
            <artifactId>lombok</artifactId>
            <scope>provided</scope>
        </dependency>
        
{{#logback-fluentd}}

		<dependency>
            <groupId>org.fluentd</groupId>
            <artifactId>fluent-logger</artifactId>
            <version>0.3.4</version>
        </dependency>
        
        <dependency>
            <groupId>com.sndyuk</groupId>
            <artifactId>logback-more-appenders</artifactId>
            <version>1.8.0</version>
        </dependency>
{{/logback-fluentd}}  
{{#spring-cloud-stream(EDA)}}

		<dependency>
		    <groupId>org.springframework.cloud</groupId>
		    <artifactId>spring-cloud-stream-binder-kafka</artifactId>
		</dependency>
{{/spring-cloud-stream(EDA)}}      
{{#onesaitplatform-web-security-client}}

        <dependency>
            <groupId>com.minsait.onesait.platform</groupId>
            <artifactId>onesaitplatform-web-security-client</artifactId>           
        </dependency>
{{/onesaitplatform-web-security-client}}
{{^onesaitplatform-web-security-client}}

        <!-- Security -->
        <dependency>
            <groupId>org.springframework.security</groupId>
            <artifactId>spring-security-web</artifactId>
        </dependency>

        <dependency>
            <groupId>org.springframework.security</groupId>
            <artifactId>spring-security-config</artifactId>
        </dependency>
{{/onesaitplatform-web-security-client}}
{{#architecture-utils}}

        <dependency>
            <groupId>com.minsait.onesait.architecture</groupId>
            <artifactId>architecture-utils</artifactId>
        </dependency>
{{/architecture-utils}}
{{#spring-boot-admin-starter-client}}

        <dependency>
            <groupId>de.codecentric</groupId>
            <artifactId>spring-boot-admin-starter-client</artifactId> 
        </dependency>
{{/spring-boot-admin-starter-client}}
{{#onesaitplatform-iotclient4springboot}}

        <!-- IoTClient4SpringBoot-->
        <dependency>
            <groupId>com.minsait.onesait.platform</groupId>
            <artifactId>onesaitplatform-iotclient4springboot</artifactId>
        </dependency>
{{/onesaitplatform-iotclient4springboot}}
{{#spring-data-mongo}}
{{^onesaitplatform-iotclient4springboot}}
        <!-- IoTClient4SpringBoot-->
        <dependency>
            <groupId>com.minsait.onesait.platform</groupId>
            <artifactId>onesaitplatform-iotclient4springboot</artifactId>           
        </dependency>
{{/onesaitplatform-iotclient4springboot}}
        <!-- Spring Data Mongo-->
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-data-mongodb</artifactId>
        </dependency>
{{/spring-data-mongo}}
{{#spring-data-jpa}}
{{^onesaitplatform-iotclient4springboot}}{{^spring-data-mongo}}

        <!-- IoTClient4SpringBoot-->
        <dependency>
            <groupId>com.minsait.onesait.platform</groupId>
            <artifactId>onesaitplatform-iotclient4springboot</artifactId>
            
        </dependency>
{{/spring-data-mongo}}{{/onesaitplatform-iotclient4springboot}}
        <!-- Spring Data JPA-->
        <dependency>
            <groupId>org.springframework.data</groupId>
            <artifactId>spring-data-jpa</artifactId>
        </dependency>
{{/spring-data-jpa}}

{{#spring-cloud-starter-config}}
		<dependency>
			<groupId>org.springframework.cloud</groupId>
			<artifactId>spring-cloud-starter-config</artifactId>
		</dependency>
{{/spring-cloud-starter-config}}

{{#spring-cloud-starter-kubernetes-config}}
        <dependency>
			<groupId>org.springframework.cloud</groupId>
			<artifactId>spring-cloud-starter-kubernetes-config</artifactId>
		</dependency>
{{/spring-cloud-starter-kubernetes-config}}


{{#useBeanValidation}}
        <!-- Bean Validation API support -->
        <dependency>
			<groupId>org.springframework.boot</groupId>
			<artifactId>spring-boot-starter-validation</artifactId>
		</dependency>
{{/useBeanValidation}}
    </dependencies>
    
    <distributionManagement>
		<repository>
            <id>onesait-platform</id>
            <url>https://nexus.onesaitplatform.com/nexus/content/repositories/releases/</url>
        </repository>
	</distributionManagement>
	
	<build>
		<pluginManagement>
			<plugins>
				<plugin>
					<groupId>org.apache.maven.plugins</groupId>
					<artifactId>maven-deploy-plugin</artifactId>
					<version>3.8.1</version>
				</plugin>
				<plugin>
				 	<groupId>org.apache.maven.plugins</groupId>
    				<artifactId>maven-compiler-plugin</artifactId>
    				<version>3.10.1</version>
    				<configuration>
					<source>${java.version}</source>
					<target>${java.version}</target>
					<annotationProcessorPaths>
						<path>
							<groupId>org.projectlombok</groupId>
							<artifactId>lombok</artifactId>
							<version>${lombok.version}</version>
						</path>
						<path>
							<groupId>org.mapstruct</groupId>
							<artifactId>mapstruct-processor</artifactId>
							<version>${org.mapstruct.version}</version>
						</path>
						<path>
							<groupId>org.springframework.boot</groupId>
							<artifactId>spring-boot-configuration-processor</artifactId>
							<version>${spring-boot.version}</version>
						</path>
					</annotationProcessorPaths>
					<generatedSourcesDirectory>${project.build.directory}/generated-sources</generatedSourcesDirectory>
					<compilerArgs>
						<compilerArg>
							-Amapstruct.suppressGeneratorTimestamp=true
						</compilerArg>
						<compilerArg>
							-Amapstruct.suppressGeneratorVersionInfoComment=true
						</compilerArg>
						<compilerArg>-Amapstruct.defaultComponentModel=spring</compilerArg>
					</compilerArgs>
				</configuration>
				</plugin>
			</plugins>
		</pluginManagement>
	</build>
    
</project>
